; Licensed by MIT
; Copyright (c) 2017 Alex Kostyukov
; https://github.com/AuthorProxy/dotfiles

root = true

[*]
charset = utf-8
end_of_line = crlf
max_line_length = 120

tab_width = 2
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
indent_size = 4
max_line_length = 80
trim_trailing_whitespace = false

[*.cs]
indent_size = 4

[*.cshtml]
charset = utf-8-bom

[*.{sln,proj,props,targets}]
indent_style = tab

[{*.bat, Makefile}]
indent_style = tab

[*.min.*]
indent_size = ignore
indent_style = ignore
insert_final_newline = ignore
trim_trailing_whitespace = false
