[submodule "zsh/external/catppuccin-zsh"]
	path = zsh/external/catppuccin-zsh
	url = https://github.com/JannoTjarks/catppuccin-zsh.git
[submodule "zsh/external/catppuccin-lsd"]
	path = zsh/external/catppuccin-lsd
	url = https://github.com/catppuccin/lsd
[submodule "zsh/external/catppuccin-warp"]
	path = zsh/external/catppuccin-warp
	url = https://github.com/catppuccin/warp
