[submodule "zsh/external/catppuccin-zsh"]
	path = zsh/external/catppuccin-zsh
	url = https://github.com/JannoTjarks/catppuccin-zsh.git
[submodule "zsh/external/catppuccin-lsd"]
	path = zsh/external/catppuccin-lsd
	url = https://github.com/catppuccin/lsd
[submodule "zsh/external/catppuccin-warp"]
	path = zsh/external/catppuccin-warp
	url = https://github.com/catppuccin/warp
[submodule "zsh/external/catppuccin-ghostty"]
	path = zsh/external/catppuccin-ghostty
	url = https://github.com/catppuccin/ghostty
[submodule "zsh/external/catppuccin-eza"]
	path = zsh/external/catppuccin-eza
	url = https://github.com/catppuccin/eza
[submodule "zsh/external/catppuccin-lazygit"]
	path = zsh/external/catppuccin-lazygit
	url = https://github.com/catppuccin/lazygit
[submodule "zsh/external/catppuccin-fish"]
	path = zsh/external/catppuccin-fish
	url = https://github.com/catppuccin/fish
[submodule "zsh/external/lazyvim-starter"]
	path = zsh/external/lazyvim-starter
	url = https://github.com/AuthorProxy/lazyvim-starter
[submodule "zsh/external/zsh-syntax-highlighting"]
	path = zsh/external/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/external/catppuccin-zsh-syntax-highlighting"]
	path = zsh/external/catppuccin-zsh-syntax-highlighting
	url = https://github.com/catppuccin/zsh-syntax-highlighting.git
[submodule "zsh/external/zsh-transient-prompt"]
	path = zsh/external/zsh-transient-prompt
	url = https://github.com/olets/zsh-transient-prompt/
[submodule "zsh/external/zsh/external/obs-studio"]
	path = zsh/external/zsh/external/obs-studio
	url = https://github.com/catppuccin/obs
[submodule "zsh/external/catppuccin-obs"]
	path = zsh/external/catppuccin-obs
	url = https://github.com/catppuccin/obs
[submodule "zsh/external/catppuccin-fzf"]
	path = zsh/external/catppuccin-fzf
	url = https://github.com/catppuccin/fzf
[submodule "zsh/external/zsh-autosuggestions"]
	path = zsh/external/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh/external/catppuccin-delta"]
	path = zsh/external/catppuccin-delta
	url = https://github.com/catppuccin/delta
[submodule "zsh/external/catppuccin-tmux"]
	path = zsh/external/catppuccin-tmux
	url = https://github.com/catppuccin/tmux
[submodule "zsh/external/tmux-tpm"]
	path = zsh/external/tmux-tpm
	url = https://github.com/tmux-plugins/tpm
