[submodule "zsh/external/catppuccin-zsh"]
	path = zsh/external/catppuccin-zsh
	url = https://github.com/JannoTjarks/catppuccin-zsh.git
[submodule "zsh/external/catppuccin-lsd"]
	path = zsh/external/catppuccin-lsd
	url = https://github.com/catppuccin/lsd
[submodule "zsh/external/catppuccin-warp"]
	path = zsh/external/catppuccin-warp
	url = https://github.com/catppuccin/warp
[submodule "zsh/external/catppuccin-ghostty"]
	path = zsh/external/catppuccin-ghostty
	url = https://github.com/catppuccin/ghostty
[submodule "zsh/external/catppuccin-eza"]
	path = zsh/external/catppuccin-eza
	url = https://github.com/catppuccin/eza
[submodule "zsh/external/catppuccin-lazygit"]
	path = zsh/external/catppuccin-lazygit
	url = https://github.com/catppuccin/lazygit
[submodule "zsh/external/catppuccin-fish"]
	path = zsh/external/catppuccin-fish
	url = https://github.com/catppuccin/fish
[submodule "zsh/external/lazyvim-starter"]
	path = zsh/external/lazyvim-starter
	url = https://github.com/AuthorProxy/lazyvim-starter
